@import url(./cabecalho.css);
@import url(./sobre.css);
@import url(./metricas.css);
@import url(./vagas.css);
@import url(./depoimento.css);
@import url(./rodape.css);

:root {
    --preto: #101828;
    --branco: #FFFFFF;
    --cinza: #667085;
    --cinza-escuro: #3A404E;
    --cinza-claro: #EAECF0;
    --vermelho: #8E2424;
    --bege-claro: #F9FAFB;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--cinza);
}